<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>eight.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>five.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>four.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>fraction</key>
  <dict>
    <key>eight.subs</key>
    <integer>-60</integer>
    <key>five.subs</key>
    <integer>-60</integer>
    <key>four.subs</key>
    <integer>-60</integer>
    <key>nine.subs</key>
    <integer>-60</integer>
    <key>one.subs</key>
    <integer>-70</integer>
    <key>seven.subs</key>
    <integer>-60</integer>
    <key>six.subs</key>
    <integer>-60</integer>
    <key>three.subs</key>
    <integer>-60</integer>
    <key>two.subs</key>
    <integer>-60</integer>
    <key>zero.subs</key>
    <integer>-60</integer>
  </dict>
  <key>nine.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>one.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>seven.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>six.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-120</integer>
  </dict>
  <key>three.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>two.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
  <key>zero.superior</key>
  <dict>
    <key>fraction</key>
    <integer>-60</integer>
  </dict>
</dict>
</plist>
