<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>250</real>
      <key>name</key>
      <string>m</string>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>G</string>
    <string>O</string>
    <string>R</string>
    <string>A</string>
    <string>Z</string>
    <string>r</string>
    <string>a</string>
    <string>o</string>
    <string>z</string>
    <string>s</string>
    <string>h</string>
    <string>p</string>
    <string>n</string>
    <string>e</string>
    <string>w</string>
    <string>P</string>
    <string>T</string>
    <string>W</string>
    <string>S</string>
    <string>E</string>
    <string>L</string>
    <string>B</string>
    <string>M</string>
    <string>U</string>
    <string>H</string>
    <string>I</string>
    <string>g</string>
    <string>m</string>
    <string>v</string>
    <string>i</string>
    <string>u</string>
    <string>N</string>
    <string>l</string>
    <string>d</string>
    <string>f</string>
    <string>period</string>
    <string>C</string>
    <string>c</string>
    <string>Y</string>
    <string>four</string>
    <string>F</string>
    <string>t</string>
    <string>y</string>
    <string>X</string>
    <string>D</string>
    <string>V</string>
    <string>Q</string>
    <string>b</string>
    <string>J</string>
    <string>x</string>
    <string>j</string>
    <string>comma</string>
    <string>quotesingle</string>
    <string>quoteright</string>
    <string>uni0900</string>
    <string>Chandrabindu.dv</string>
    <string>Bindu.dv</string>
    <string>Visarga.dv</string>
    <string>vowelShortA.dv</string>
    <string>vowelA.dv</string>
    <string>vowelAa.dv</string>
    <string>vowelI.dv</string>
    <string>vowelIi.dv</string>
    <string>vowelU.dv</string>
    <string>vowelUu.dv</string>
    <string>vowelRu.dv</string>
    <string>vowelLru.dv</string>
    <string>vowelChandraE.dv</string>
    <string>vowelShortE.dv</string>
    <string>vowelE.dv</string>
    <string>vowelAi.dv</string>
    <string>vowelChandraO.dv</string>
    <string>vowelShortO.dv</string>
    <string>vowelO.dv</string>
    <string>vowelAu.dv</string>
    <string>Ka.dv</string>
    <string>Kha.dv</string>
    <string>Ga.dv</string>
    <string>Gha.dv</string>
    <string>Nga.dv</string>
    <string>Ca.dv</string>
    <string>Cha.dv</string>
    <string>Ja.dv</string>
    <string>Jha.dv</string>
    <string>Nya.dv</string>
    <string>Tta.dv</string>
    <string>Ttha.dv</string>
    <string>Dda.dv</string>
    <string>Ddha.dv</string>
    <string>Nna.dv</string>
    <string>Ta.dv</string>
    <string>Tha.dv</string>
    <string>Da.dv</string>
    <string>Dha.dv</string>
    <string>Na.dv</string>
    <string>NaNukta.dv</string>
    <string>Pa.dv</string>
    <string>Pha.dv</string>
    <string>Ba.dv</string>
    <string>Bha.dv</string>
    <string>Ma.dv</string>
    <string>Ya.dv</string>
    <string>Ra.dv</string>
    <string>RaNukta.dv</string>
    <string>La.dv</string>
    <string>Lla.dv</string>
    <string>LlaNukta.dv</string>
    <string>Va.dv</string>
    <string>Sha.dv</string>
    <string>Ssa.dv</string>
    <string>Sa.dv</string>
    <string>Ha.dv</string>
    <string>uni093A</string>
    <string>uni093B</string>
    <string>Nukta.dv</string>
    <string>Avagraha.dv</string>
    <string>matraA.dv</string>
    <string>matraI.dv</string>
    <string>matraIi.dv</string>
    <string>matraU.dv</string>
    <string>matraUu.dv</string>
    <string>matraRu.dv</string>
    <string>matraRuu.dv</string>
    <string>Chandra.dv</string>
    <string>matraShortE.dv</string>
    <string>matraE.dv</string>
    <string>matraAi.dv</string>
    <string>matraAChandra.dv</string>
    <string>matraShortO.dv</string>
    <string>matraO.dv</string>
    <string>matraAu.dv</string>
    <string>Halant.dv</string>
    <string>uni094E</string>
    <string>uni094F</string>
    <string>Om.dv</string>
    <string>uni0955</string>
    <string>uni0956</string>
    <string>uni0957</string>
    <string>KaNukta.dv</string>
    <string>KhaNukta.dv</string>
    <string>GaNukta.dv</string>
    <string>JaNukta.dv</string>
    <string>DdaNukta.dv</string>
    <string>DdhaNukta.dv</string>
    <string>YaNukta.dv</string>
    <string>vowelRuu.dv</string>
    <string>vowelLruu.dv</string>
    <string>matraLru.dv</string>
    <string>matraLruu.dv</string>
    <string>Shunya.dv</string>
    <string>Ek.dv</string>
    <string>Don.dv</string>
    <string>Teen.dv</string>
    <string>Chaar.dv</string>
    <string>Paach.dv</string>
    <string>Saha.dv</string>
    <string>Saat.dv</string>
    <string>Aath.dv</string>
    <string>Nau.dv</string>
    <string>uni0970</string>
    <string>vowelChandraA.dv</string>
    <string>uni0973</string>
    <string>uni0974</string>
    <string>uni0975</string>
    <string>uni0976</string>
    <string>uni0977</string>
    <string>uni0978</string>
    <string>uni0979</string>
    <string>uni097A</string>
    <string>uni097B</string>
    <string>uni097C</string>
    <string>uni097D</string>
    <string>uni097E</string>
    <string>uni097F</string>
    <string>uniA8FB</string>
    <string>q</string>
    <string>KaSsa.dv</string>
    <string>PhaNukta.dv</string>
    <string>one</string>
    <string>k</string>
    <string>K</string>
    <string>ampersand</string>
    <string>two</string>
    <string>three</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero</string>
    <string>semicolon</string>
    <string>colon</string>
    <string>question</string>
    <string>at</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>slash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>backslash</string>
    <string>bar</string>
    <string>plus</string>
    <string>hyphen</string>
    <string>underscore</string>
    <string>equal</string>
    <string>less</string>
    <string>greater</string>
    <string>exclamdown</string>
    <string>asterisk</string>
    <string>asciitilde</string>
    <string>sterling</string>
    <string>Danda.dv</string>
    <string>Doubledanda.dv</string>
    <string>ShaRa.dv</string>
    <string>zero.subs</string>
    <string>zero.superior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
    <string>uni20B9</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
    <string>dummy1</string>
    <string>KaRa.dv</string>
    <string>PaRa.dv</string>
    <string>SaRa.dv</string>
    <string>HaRa.dv</string>
    <string>KaNuktaRa.dv</string>
    <string>KhaNuktaRa.dv</string>
    <string>GaNuktaRa.dv</string>
    <string>JaNuktaRa.dv</string>
    <string>PhaNuktaRa.dv</string>
    <string>YaNuktaRa.dv</string>
    <string>ChaRaYa.dv</string>
    <string>TtaTtaYa.dv</string>
    <string>TthaTthaYa.dv</string>
    <string>DdaDdaYa.dv</string>
    <string>DdhaRaYa.dv</string>
    <string>DaDaYa.dv</string>
    <string>DaDhaYa.dv</string>
    <string>DaBhaYa.dv</string>
    <string>DaRaYa.dv</string>
    <string>DaVaYa.dv</string>
    <string>DhaNaYa.dv</string>
    <string>ShaRaYa.dv</string>
    <string>ChaYa.dv</string>
    <string>ChaVa.dv</string>
    <string>NgaKa.dv</string>
    <string>NgaGa.dv</string>
    <string>NgaMa.dv</string>
    <string>NgaYa.dv</string>
    <string>TtaTta.dv</string>
    <string>TtaTtha.dv</string>
    <string>TtaYa.dv</string>
    <string>TtaVa.dv</string>
    <string>TthaTtha.dv</string>
    <string>TthaYa.dv</string>
    <string>DdaDda.dv</string>
    <string>DdaDdha.dv</string>
    <string>DdaYa.dv</string>
    <string>DdhaDdha.dv</string>
    <string>DdhaYa.dv</string>
    <string>DaGa.dv</string>
    <string>MaNa.dv</string>
    <string>LlaYa.dv</string>
    <string>LlaLla.dv</string>
    <string>ShaNa.dv</string>
    <string>SaNa.dv</string>
    <string>HaNna.dv</string>
    <string>HaMa.dv</string>
    <string>HaYa.dv</string>
    <string>HaVa.dv</string>
    <string>JaNya.dv</string>
    <string>vowelIiBindu.dv</string>
    <string>KamatraLru.dv</string>
    <string>KamatraLruu.dv</string>
    <string>PamatraLru.dv</string>
    <string>PamatraLruu.dv</string>
    <string>RamatraU.dv</string>
    <string>RamatraUu.dv</string>
    <string>ShamatraRu.dv</string>
    <string>HamatraRu.dv</string>
    <string>KhaRa.dv</string>
    <string>GaRa.dv</string>
    <string>GhaRa.dv</string>
    <string>CaRa.dv</string>
    <string>JaRa.dv</string>
    <string>JhaRa.dv</string>
    <string>NyaRa.dv</string>
    <string>NnaRa.dv</string>
    <string>TaRa.dv</string>
    <string>ThaRa.dv</string>
    <string>DaRa.dv</string>
    <string>DhaRa.dv</string>
    <string>NaRa.dv</string>
    <string>PhaRa.dv</string>
    <string>BaRa.dv</string>
    <string>BhaRa.dv</string>
    <string>KaHalant.dv</string>
    <string>KhaHalant.dv</string>
    <string>GaHalant.dv</string>
    <string>GhaHalant.dv</string>
    <string>CaHalant.dv</string>
    <string>JaHalant.dv</string>
    <string>JhaHalant.dv</string>
    <string>NyaHalant.dv</string>
    <string>TaHalant.dv</string>
    <string>ThaHalant.dv</string>
    <string>DhaHalant.dv</string>
    <string>NaHalant.dv</string>
    <string>NaNuktaHalant.dv</string>
    <string>PaHalant.dv</string>
    <string>PhaHalant.dv</string>
    <string>BaHalant.dv</string>
    <string>BhaHalant.dv</string>
    <string>MaHalant.dv</string>
    <string>YaHalant.dv</string>
    <string>RaNuktaHalant.dv</string>
    <string>LaHalant.dv</string>
    <string>LlaHalant.dv</string>
    <string>LlaNuktaHalant.dv</string>
    <string>VaHalant.dv</string>
    <string>ShaHalant.dv</string>
    <string>SsaHalant.dv</string>
    <string>SaHalant.dv</string>
    <string>HaHalant.dv</string>
    <string>KaNuktaHalant.dv</string>
    <string>KhaNuktaHalant.dv</string>
    <string>GaNuktaHalant.dv</string>
    <string>JaNuktaHalant.dv</string>
    <string>PhaNuktaHalant.dv</string>
    <string>YaNuktaHalant.dv</string>
    <string>KaSsaHalant.dv</string>
    <string>JaNyaHalant.dv</string>
    <string>KaRaHalant.dv</string>
    <string>GhaRaHalant.dv</string>
    <string>TaRaHalant.dv</string>
    <string>DhaRaHalant.dv</string>
    <string>PaRaHalant.dv</string>
    <string>VaRaHalant.dv</string>
    <string>ShaRaHalant.dv</string>
    <string>SsaRaHalant.dv</string>
    <string>SaRaHalant.dv</string>
    <string>GaRaHalant.dv</string>
    <string>DaRaHalant.dv</string>
    <string>BhaRaHalant.dv</string>
    <string>TaTaHalant.dv</string>
    <string>matraUsmall.dv</string>
    <string>matraUusmall.dv</string>
    <string>matraRusmall.dv</string>
    <string>Vattu.dv</string>
    <string>VattumatraU.dv</string>
    <string>VattumatraUu.dv</string>
    <string>Binduone.dv</string>
    <string>Chandrabinduone.dv</string>
    <string>Reph.dv</string>
    <string>RephBindu.dv</string>
    <string>RephChandrabindu.dv</string>
    <string>matraEBindu.dv</string>
    <string>matraEChandrabindu.dv</string>
    <string>matraEReph.dv</string>
    <string>matraERephBindu.dv</string>
    <string>matraERephChandrabindu.dv</string>
    <string>matraAiBindu.dv</string>
    <string>matraAiChandrabindu.dv</string>
    <string>matraAiReph.dv</string>
    <string>matraAiRephBindu.dv</string>
    <string>matraAiRephChandrabindu.dv</string>
    <string>matraABindu.dv</string>
    <string>matraAChandrabindu.dv</string>
    <string>matraAReph.dv</string>
    <string>matraARephBindu.dv</string>
    <string>matraARephChandrabindu.dv</string>
    <string>matraOBindu.dv</string>
    <string>matraOChandrabindu.dv</string>
    <string>matraOReph.dv</string>
    <string>matraORephBindu.dv</string>
    <string>matraORephChandrabindu.dv</string>
    <string>matraAuBindu.dv</string>
    <string>matraAuChandrabindu.dv</string>
    <string>matraAuReph.dv</string>
    <string>matraAuRephBindu.dv</string>
    <string>matraAuRephChandrabindu.dv</string>
    <string>matraShortEBindu.dv</string>
    <string>matraShortEChandrabindu.dv</string>
    <string>matraShortEReph.dv</string>
    <string>matraShortERephBindu.dv</string>
    <string>matraShortERephChandrabindu.dv</string>
    <string>matraShortOBindu.dv</string>
    <string>matraShortOChandrabindu.dv</string>
    <string>matraShortOReph.dv</string>
    <string>matraShortORephChandrabindu.dv</string>
    <string>matraShortORephBindu.dv</string>
    <string>matraIiBindu.dv</string>
    <string>matraIiChandrabindu.dv</string>
    <string>matraIiReph.dv</string>
    <string>matraIiRephBindu.dv</string>
    <string>matraIiRephChandrabindu.dv</string>
    <string>matraIione.dv</string>
    <string>matraIiBinduone.dv</string>
    <string>matraIiChandrabinduone.dv</string>
    <string>matraIiRephone.dv</string>
    <string>matraIiRephBinduone.dv</string>
    <string>matraIiRephChandrabinduone.dv</string>
    <string>matraIitwo.dv</string>
    <string>matraIiBindutwo.dv</string>
    <string>matraIiRephtwo.dv</string>
    <string>matraIiRephBindutwo.dv</string>
    <string>matraIiBinduthree.dv</string>
    <string>matraIiRephthree.dv</string>
    <string>matraIiRephBinduthree.dv</string>
    <string>MaRa.dv</string>
    <string>YaRa.dv</string>
    <string>LaRa.dv</string>
    <string>VaRa.dv</string>
    <string>SsaRa.dv</string>
    <string>NnaHalant.dv</string>
    <string>BaNa.dv</string>
    <string>PaNa.dv</string>
    <string>DhaNa.dv</string>
    <string>TaNa.dv</string>
    <string>TaTa.dv</string>
    <string>JhaNa.dv</string>
    <string>JaNa.dv</string>
    <string>CaNa.dv</string>
    <string>GhaNa.dv</string>
    <string>GaNa.dv</string>
    <string>KhaNa.dv</string>
    <string>KaTa.dv</string>
    <string>HaMaYa.dv</string>
    <string>TaNaYa.dv</string>
    <string>GaNaYa.dv</string>
    <string>DaVa.dv</string>
    <string>DaYa.dv</string>
    <string>DaMa.dv</string>
    <string>DaBha.dv</string>
    <string>DaBa.dv</string>
    <string>DaNa.dv</string>
    <string>DaDha.dv</string>
    <string>DaDa.dv</string>
    <string>two.superior</string>
    <string>three.superior</string>
    <string>one.superior</string>
    <string>quotesinglbase</string>
    <string>cent</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>softhyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>acute</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>AE</string>
    <string>multiply</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>ae</string>
    <string>thorn</string>
    <string>Tbar</string>
    <string>florin</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>mu</string>
    <string>pi</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>daggerdbl</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>Omega</string>
    <string>Delta</string>
    <string>commaaccentcomb</string>
    <string>asciicircum</string>
    <string>grave</string>
    <string>uni00A0</string>
    <string>uni0953</string>
    <string>uni0954</string>
    <string>matraIithree.dv</string>
    <string>matraIiChandrabindutwo.dv</string>
    <string>matraIiRephChandrabindutwo.dv</string>
    <string>matraIiChandrabinduthree.dv</string>
    <string>matraIiRephChandrabinduthree.dv</string>
    <string>NaNa.dv</string>
    <string>NaNaHalant.dv</string>
    <string>SsaTta.dv</string>
    <string>ShaVa.dv</string>
    <string>matraI_left.dv</string>
    <string>bridge_200.dv</string>
    <string>matraI_right.dv</string>
    <string>SsaTtha.dv</string>
    <string>bridge_20.dv</string>
    <string>matraIReph_right.dv</string>
    <string>matraIRephBindu_right.dv</string>
    <string>matraIRephChandrabindu_right.dv</string>
    <string>bridge_10.dv</string>
    <string>bridge_30.dv</string>
    <string>bridge_40.dv</string>
    <string>bridge_50.dv</string>
    <string>bridge_60.dv</string>
    <string>bridge_70.dv</string>
    <string>bridge_80.dv</string>
    <string>bridge_90.dv</string>
    <string>bridge_100.dv</string>
    <string>bridge_300.dv</string>
    <string>bridge_400.dv</string>
    <string>bridge_500.dv</string>
    <string>bridge_600.dv</string>
    <string>bridge_700.dv</string>
    <string>bridge_800.dv</string>
    <string>bridge_900.dv</string>
    <string>bridge_1000.dv</string>
    <string>matraIBindu_right.dv</string>
    <string>matraIChandrabindu_right.dv</string>
    <string>aacute</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>acircumflex</string>
    <string>agrave</string>
    <string>Ccedilla</string>
    <string>Aogonek</string>
    <string>ntilde</string>
    <string>Cacute</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>questiondown</string>
    <string>dotlessi</string>
    <string>dotlessj</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>ydieresis</string>
    <string>divide</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>abreve</string>
    <string>aogonek</string>
    <string>Abreve</string>
    <string>cacute</string>
    <string>ccircumflex</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>cdotaccent</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edotaccent</string>
    <string>edotaccent</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdotaccent</string>
    <string>gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>gcommaaccent</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>itilde</string>
    <string>Itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcommaaccent</string>
    <string>kcommaaccent</string>
    <string>kgreenlandic</string>
    <string>lacute</string>
    <string>Lcommaaccent</string>
    <string>lcommaaccent</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>ncommaaccent</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Ohungarumlaut</string>
    <string>ohungarumlaut</string>
    <string>Racute</string>
    <string>OE</string>
    <string>oe</string>
    <string>racute</string>
    <string>Rcommaaccent</string>
    <string>rcommaaccent</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcedilla</string>
    <string>Tcaron</string>
    <string>tcedilla</string>
    <string>lcaron</string>
    <string>tcaron</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Uhungarumlaut</string>
    <string>uhungarumlaut</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdotaccent</string>
    <string>zdotaccent</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>tcommaaccent</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>dcaron</string>
    <string>longs</string>
    <string>Acaron</string>
    <string>dieresiscomb</string>
    <string>gravecomb</string>
    <string>ringcomb</string>
    <string>acutecomb</string>
    <string>hungarumlautcomb</string>
    <string>macroncomb</string>
    <string>Eng</string>
    <string>Germandbls</string>
    <string>Ygrave</string>
    <string>acaron</string>
    <string>eng</string>
    <string>ygrave</string>
    <string>dotaccentcomb</string>
    <string>circumflexcomb</string>
    <string>caroncomb</string>
    <string>brevecomb</string>
    <string>tildecomb</string>
    <string>commaturnedabovecomb</string>
    <string>cedillacomb</string>
    <string>ogonekcomb</string>
    <string>circledotted</string>
    <string>macronmod</string>
    <string>endash</string>
    <string>dagger</string>
    <string>ellipsis</string>
    <string>bullet</string>
    <string>perthousand</string>
    <string>fraction</string>
    <string>franc</string>
    <string>trademark</string>
    <string>Euro</string>
    <string>minus</string>
    <string>ordfeminine</string>
    <string>eth</string>
  </array>
</dict>
</plist>
