<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>AE</key>
  <string>A_E_.glif</string>
  <key>Aacute</key>
  <string>A_acute.glif</string>
  <key>Aath.dv</key>
  <string>A_ath.dv.glif</string>
  <key>Abreve</key>
  <string>A_breve.glif</string>
  <key>Acaron</key>
  <string>A_caron.glif</string>
  <key>Acircumflex</key>
  <string>A_circumflex.glif</string>
  <key>Adieresis</key>
  <string>A_dieresis.glif</string>
  <key>Agrave</key>
  <string>A_grave.glif</string>
  <key>Amacron</key>
  <string>A_macron.glif</string>
  <key>Aogonek</key>
  <string>A_ogonek.glif</string>
  <key>Aring</key>
  <string>A_ring.glif</string>
  <key>Atilde</key>
  <string>A_tilde.glif</string>
  <key>Avagraha.dv</key>
  <string>A_vagraha.dv.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>Ba.dv</key>
  <string>B_a.dv.glif</string>
  <key>BaHalant.dv</key>
  <string>B_aH_alant.dv.glif</string>
  <key>BaNa.dv</key>
  <string>B_aN_a.dv.glif</string>
  <key>BaRa.dv</key>
  <string>B_aR_a.dv.glif</string>
  <key>Bha.dv</key>
  <string>B_ha.dv.glif</string>
  <key>BhaHalant.dv</key>
  <string>B_haH_alant.dv.glif</string>
  <key>BhaRa.dv</key>
  <string>B_haR_a.dv.glif</string>
  <key>BhaRaHalant.dv</key>
  <string>B_haR_aH_alant.dv.glif</string>
  <key>Bindu.dv</key>
  <string>B_indu.dv.glif</string>
  <key>Binduone.dv</key>
  <string>B_induone.dv.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>CR</key>
  <string>C_R_.glif</string>
  <key>Ca.dv</key>
  <string>C_a.dv.glif</string>
  <key>CaHalant.dv</key>
  <string>C_aH_alant.dv.glif</string>
  <key>CaNa.dv</key>
  <string>C_aN_a.dv.glif</string>
  <key>CaRa.dv</key>
  <string>C_aR_a.dv.glif</string>
  <key>Cacute</key>
  <string>C_acute.glif</string>
  <key>Ccaron</key>
  <string>C_caron.glif</string>
  <key>Ccedilla</key>
  <string>C_cedilla.glif</string>
  <key>Ccircumflex</key>
  <string>C_circumflex.glif</string>
  <key>Cdotaccent</key>
  <string>C_dotaccent.glif</string>
  <key>Cha.dv</key>
  <string>C_ha.dv.glif</string>
  <key>ChaRaYa.dv</key>
  <string>C_haR_aY_a.dv.glif</string>
  <key>ChaVa.dv</key>
  <string>C_haV_a.dv.glif</string>
  <key>ChaYa.dv</key>
  <string>C_haY_a.dv.glif</string>
  <key>Chaar.dv</key>
  <string>C_haar.dv.glif</string>
  <key>Chandra.dv</key>
  <string>C_handra.dv.glif</string>
  <key>Chandrabindu.dv</key>
  <string>C_handrabindu.dv.glif</string>
  <key>Chandrabinduone.dv</key>
  <string>C_handrabinduone.dv.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>Da.dv</key>
  <string>D_a.dv.glif</string>
  <key>DaBa.dv</key>
  <string>D_aB_a.dv.glif</string>
  <key>DaBha.dv</key>
  <string>D_aB_ha.dv.glif</string>
  <key>DaBhaYa.dv</key>
  <string>D_aB_haY_a.dv.glif</string>
  <key>DaDa.dv</key>
  <string>D_aD_a.dv.glif</string>
  <key>DaDaYa.dv</key>
  <string>D_aD_aY_a.dv.glif</string>
  <key>DaDha.dv</key>
  <string>D_aD_ha.dv.glif</string>
  <key>DaDhaYa.dv</key>
  <string>D_aD_haY_a.dv.glif</string>
  <key>DaGa.dv</key>
  <string>D_aG_a.dv.glif</string>
  <key>DaMa.dv</key>
  <string>D_aM_a.dv.glif</string>
  <key>DaNa.dv</key>
  <string>D_aN_a.dv.glif</string>
  <key>DaRa.dv</key>
  <string>D_aR_a.dv.glif</string>
  <key>DaRaHalant.dv</key>
  <string>D_aR_aH_alant.dv.glif</string>
  <key>DaRaYa.dv</key>
  <string>D_aR_aY_a.dv.glif</string>
  <key>DaVa.dv</key>
  <string>D_aV_a.dv.glif</string>
  <key>DaVaYa.dv</key>
  <string>D_aV_aY_a.dv.glif</string>
  <key>DaYa.dv</key>
  <string>D_aY_a.dv.glif</string>
  <key>Danda.dv</key>
  <string>D_anda.dv.glif</string>
  <key>Dcaron</key>
  <string>D_caron.glif</string>
  <key>Dcroat</key>
  <string>D_croat.glif</string>
  <key>Dda.dv</key>
  <string>D_da.dv.glif</string>
  <key>DdaDda.dv</key>
  <string>D_daD_da.dv.glif</string>
  <key>DdaDdaYa.dv</key>
  <string>D_daD_daY_a.dv.glif</string>
  <key>DdaDdha.dv</key>
  <string>D_daD_dha.dv.glif</string>
  <key>DdaNukta.dv</key>
  <string>D_daN_ukta.dv.glif</string>
  <key>DdaYa.dv</key>
  <string>D_daY_a.dv.glif</string>
  <key>Ddha.dv</key>
  <string>D_dha.dv.glif</string>
  <key>DdhaDdha.dv</key>
  <string>D_dhaD_dha.dv.glif</string>
  <key>DdhaNukta.dv</key>
  <string>D_dhaN_ukta.dv.glif</string>
  <key>DdhaRaYa.dv</key>
  <string>D_dhaR_aY_a.dv.glif</string>
  <key>DdhaYa.dv</key>
  <string>D_dhaY_a.dv.glif</string>
  <key>Delta</key>
  <string>D_elta.glif</string>
  <key>Dha.dv</key>
  <string>D_ha.dv.glif</string>
  <key>DhaHalant.dv</key>
  <string>D_haH_alant.dv.glif</string>
  <key>DhaNa.dv</key>
  <string>D_haN_a.dv.glif</string>
  <key>DhaNaYa.dv</key>
  <string>D_haN_aY_a.dv.glif</string>
  <key>DhaRa.dv</key>
  <string>D_haR_a.dv.glif</string>
  <key>DhaRaHalant.dv</key>
  <string>D_haR_aH_alant.dv.glif</string>
  <key>Don.dv</key>
  <string>D_on.dv.glif</string>
  <key>Doubledanda.dv</key>
  <string>D_oubledanda.dv.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Ebreve</key>
  <string>E_breve.glif</string>
  <key>Ecaron</key>
  <string>E_caron.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Edieresis</key>
  <string>E_dieresis.glif</string>
  <key>Edotaccent</key>
  <string>E_dotaccent.glif</string>
  <key>Egrave</key>
  <string>E_grave.glif</string>
  <key>Ek.dv</key>
  <string>E_k.dv.glif</string>
  <key>Emacron</key>
  <string>E_macron.glif</string>
  <key>Eng</key>
  <string>E_ng.glif</string>
  <key>Eogonek</key>
  <string>E_ogonek.glif</string>
  <key>Eth</key>
  <string>E_th.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>Ga.dv</key>
  <string>G_a.dv.glif</string>
  <key>GaHalant.dv</key>
  <string>G_aH_alant.dv.glif</string>
  <key>GaNa.dv</key>
  <string>G_aN_a.dv.glif</string>
  <key>GaNaYa.dv</key>
  <string>G_aN_aY_a.dv.glif</string>
  <key>GaNukta.dv</key>
  <string>G_aN_ukta.dv.glif</string>
  <key>GaNuktaHalant.dv</key>
  <string>G_aN_uktaH_alant.dv.glif</string>
  <key>GaNuktaRa.dv</key>
  <string>G_aN_uktaR_a.dv.glif</string>
  <key>GaRa.dv</key>
  <string>G_aR_a.dv.glif</string>
  <key>GaRaHalant.dv</key>
  <string>G_aR_aH_alant.dv.glif</string>
  <key>Gbreve</key>
  <string>G_breve.glif</string>
  <key>Gcircumflex</key>
  <string>G_circumflex.glif</string>
  <key>Gcommaaccent</key>
  <string>G_commaaccent.glif</string>
  <key>Gdotaccent</key>
  <string>G_dotaccent.glif</string>
  <key>Germandbls</key>
  <string>G_ermandbls.glif</string>
  <key>Gha.dv</key>
  <string>G_ha.dv.glif</string>
  <key>GhaHalant.dv</key>
  <string>G_haH_alant.dv.glif</string>
  <key>GhaNa.dv</key>
  <string>G_haN_a.dv.glif</string>
  <key>GhaRa.dv</key>
  <string>G_haR_a.dv.glif</string>
  <key>GhaRaHalant.dv</key>
  <string>G_haR_aH_alant.dv.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>Ha.dv</key>
  <string>H_a.dv.glif</string>
  <key>HaHalant.dv</key>
  <string>H_aH_alant.dv.glif</string>
  <key>HaMa.dv</key>
  <string>H_aM_a.dv.glif</string>
  <key>HaMaYa.dv</key>
  <string>H_aM_aY_a.dv.glif</string>
  <key>HaNna.dv</key>
  <string>H_aN_na.dv.glif</string>
  <key>HaRa.dv</key>
  <string>H_aR_a.dv.glif</string>
  <key>HaVa.dv</key>
  <string>H_aV_a.dv.glif</string>
  <key>HaYa.dv</key>
  <string>H_aY_a.dv.glif</string>
  <key>Halant.dv</key>
  <string>H_alant.dv.glif</string>
  <key>HamatraRu.dv</key>
  <string>H_amatraR_u.dv.glif</string>
  <key>Hbar</key>
  <string>H_bar.glif</string>
  <key>Hcircumflex</key>
  <string>H_circumflex.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>IJ</key>
  <string>I_J_.glif</string>
  <key>Iacute</key>
  <string>I_acute.glif</string>
  <key>Icircumflex</key>
  <string>I_circumflex.glif</string>
  <key>Idieresis</key>
  <string>I_dieresis.glif</string>
  <key>Idotaccent</key>
  <string>I_dotaccent.glif</string>
  <key>Igrave</key>
  <string>I_grave.glif</string>
  <key>Imacron</key>
  <string>I_macron.glif</string>
  <key>Iogonek</key>
  <string>I_ogonek.glif</string>
  <key>Itilde</key>
  <string>I_tilde.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>Ja.dv</key>
  <string>J_a.dv.glif</string>
  <key>JaHalant.dv</key>
  <string>J_aH_alant.dv.glif</string>
  <key>JaNa.dv</key>
  <string>J_aN_a.dv.glif</string>
  <key>JaNukta.dv</key>
  <string>J_aN_ukta.dv.glif</string>
  <key>JaNuktaHalant.dv</key>
  <string>J_aN_uktaH_alant.dv.glif</string>
  <key>JaNuktaRa.dv</key>
  <string>J_aN_uktaR_a.dv.glif</string>
  <key>JaNya.dv</key>
  <string>J_aN_ya.dv.glif</string>
  <key>JaNyaHalant.dv</key>
  <string>J_aN_yaH_alant.dv.glif</string>
  <key>JaRa.dv</key>
  <string>J_aR_a.dv.glif</string>
  <key>Jcircumflex</key>
  <string>J_circumflex.glif</string>
  <key>Jha.dv</key>
  <string>J_ha.dv.glif</string>
  <key>JhaHalant.dv</key>
  <string>J_haH_alant.dv.glif</string>
  <key>JhaNa.dv</key>
  <string>J_haN_a.dv.glif</string>
  <key>JhaRa.dv</key>
  <string>J_haR_a.dv.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>Ka.dv</key>
  <string>K_a.dv.glif</string>
  <key>KaHalant.dv</key>
  <string>K_aH_alant.dv.glif</string>
  <key>KaNukta.dv</key>
  <string>K_aN_ukta.dv.glif</string>
  <key>KaNuktaHalant.dv</key>
  <string>K_aN_uktaH_alant.dv.glif</string>
  <key>KaNuktaRa.dv</key>
  <string>K_aN_uktaR_a.dv.glif</string>
  <key>KaRa.dv</key>
  <string>K_aR_a.dv.glif</string>
  <key>KaRaHalant.dv</key>
  <string>K_aR_aH_alant.dv.glif</string>
  <key>KaSsa.dv</key>
  <string>K_aS_sa.dv.glif</string>
  <key>KaSsaHalant.dv</key>
  <string>K_aS_saH_alant.dv.glif</string>
  <key>KaTa.dv</key>
  <string>K_aT_a.dv.glif</string>
  <key>KamatraLru.dv</key>
  <string>K_amatraL_ru.dv.glif</string>
  <key>KamatraLruu.dv</key>
  <string>K_amatraL_ruu.dv.glif</string>
  <key>Kcommaaccent</key>
  <string>K_commaaccent.glif</string>
  <key>Kha.dv</key>
  <string>K_ha.dv.glif</string>
  <key>KhaHalant.dv</key>
  <string>K_haH_alant.dv.glif</string>
  <key>KhaNa.dv</key>
  <string>K_haN_a.dv.glif</string>
  <key>KhaNukta.dv</key>
  <string>K_haN_ukta.dv.glif</string>
  <key>KhaNuktaHalant.dv</key>
  <string>K_haN_uktaH_alant.dv.glif</string>
  <key>KhaNuktaRa.dv</key>
  <string>K_haN_uktaR_a.dv.glif</string>
  <key>KhaRa.dv</key>
  <string>K_haR_a.dv.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>La.dv</key>
  <string>L_a.dv.glif</string>
  <key>LaHalant.dv</key>
  <string>L_aH_alant.dv.glif</string>
  <key>LaRa.dv</key>
  <string>L_aR_a.dv.glif</string>
  <key>Lacute</key>
  <string>L_acute.glif</string>
  <key>Lcaron</key>
  <string>L_caron.glif</string>
  <key>Lcommaaccent</key>
  <string>L_commaaccent.glif</string>
  <key>Ldot</key>
  <string>L_dot.glif</string>
  <key>Lla.dv</key>
  <string>L_la.dv.glif</string>
  <key>LlaHalant.dv</key>
  <string>L_laH_alant.dv.glif</string>
  <key>LlaLla.dv</key>
  <string>L_laL_la.dv.glif</string>
  <key>LlaNukta.dv</key>
  <string>L_laN_ukta.dv.glif</string>
  <key>LlaNuktaHalant.dv</key>
  <string>L_laN_uktaH_alant.dv.glif</string>
  <key>LlaYa.dv</key>
  <string>L_laY_a.dv.glif</string>
  <key>Lslash</key>
  <string>L_slash.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>Ma.dv</key>
  <string>M_a.dv.glif</string>
  <key>MaHalant.dv</key>
  <string>M_aH_alant.dv.glif</string>
  <key>MaNa.dv</key>
  <string>M_aN_a.dv.glif</string>
  <key>MaRa.dv</key>
  <string>M_aR_a.dv.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>NULL</key>
  <string>N_U_L_L_.glif</string>
  <key>Na.dv</key>
  <string>N_a.dv.glif</string>
  <key>NaHalant.dv</key>
  <string>N_aH_alant.dv.glif</string>
  <key>NaNa.dv</key>
  <string>N_aN_a.dv.glif</string>
  <key>NaNaHalant.dv</key>
  <string>N_aN_aH_alant.dv.glif</string>
  <key>NaNukta.dv</key>
  <string>N_aN_ukta.dv.glif</string>
  <key>NaNuktaHalant.dv</key>
  <string>N_aN_uktaH_alant.dv.glif</string>
  <key>NaRa.dv</key>
  <string>N_aR_a.dv.glif</string>
  <key>Nacute</key>
  <string>N_acute.glif</string>
  <key>Nau.dv</key>
  <string>N_au.dv.glif</string>
  <key>Ncaron</key>
  <string>N_caron.glif</string>
  <key>Ncommaaccent</key>
  <string>N_commaaccent.glif</string>
  <key>Nga.dv</key>
  <string>N_ga.dv.glif</string>
  <key>NgaGa.dv</key>
  <string>N_gaG_a.dv.glif</string>
  <key>NgaKa.dv</key>
  <string>N_gaK_a.dv.glif</string>
  <key>NgaMa.dv</key>
  <string>N_gaM_a.dv.glif</string>
  <key>NgaYa.dv</key>
  <string>N_gaY_a.dv.glif</string>
  <key>Nna.dv</key>
  <string>N_na.dv.glif</string>
  <key>NnaHalant.dv</key>
  <string>N_naH_alant.dv.glif</string>
  <key>NnaRa.dv</key>
  <string>N_naR_a.dv.glif</string>
  <key>Ntilde</key>
  <string>N_tilde.glif</string>
  <key>Nukta.dv</key>
  <string>N_ukta.dv.glif</string>
  <key>Nya.dv</key>
  <string>N_ya.dv.glif</string>
  <key>NyaHalant.dv</key>
  <string>N_yaH_alant.dv.glif</string>
  <key>NyaRa.dv</key>
  <string>N_yaR_a.dv.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>OE</key>
  <string>O_E_.glif</string>
  <key>Oacute</key>
  <string>O_acute.glif</string>
  <key>Obreve</key>
  <string>O_breve.glif</string>
  <key>Ocircumflex</key>
  <string>O_circumflex.glif</string>
  <key>Odieresis</key>
  <string>O_dieresis.glif</string>
  <key>Ograve</key>
  <string>O_grave.glif</string>
  <key>Ohungarumlaut</key>
  <string>O_hungarumlaut.glif</string>
  <key>Om.dv</key>
  <string>O_m.dv.glif</string>
  <key>Omacron</key>
  <string>O_macron.glif</string>
  <key>Omega</key>
  <string>O_mega.glif</string>
  <key>Oslash</key>
  <string>O_slash.glif</string>
  <key>Otilde</key>
  <string>O_tilde.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Pa.dv</key>
  <string>P_a.dv.glif</string>
  <key>PaHalant.dv</key>
  <string>P_aH_alant.dv.glif</string>
  <key>PaNa.dv</key>
  <string>P_aN_a.dv.glif</string>
  <key>PaRa.dv</key>
  <string>P_aR_a.dv.glif</string>
  <key>PaRaHalant.dv</key>
  <string>P_aR_aH_alant.dv.glif</string>
  <key>Paach.dv</key>
  <string>P_aach.dv.glif</string>
  <key>PamatraLru.dv</key>
  <string>P_amatraL_ru.dv.glif</string>
  <key>PamatraLruu.dv</key>
  <string>P_amatraL_ruu.dv.glif</string>
  <key>Pha.dv</key>
  <string>P_ha.dv.glif</string>
  <key>PhaHalant.dv</key>
  <string>P_haH_alant.dv.glif</string>
  <key>PhaNukta.dv</key>
  <string>P_haN_ukta.dv.glif</string>
  <key>PhaNuktaHalant.dv</key>
  <string>P_haN_uktaH_alant.dv.glif</string>
  <key>PhaNuktaRa.dv</key>
  <string>P_haN_uktaR_a.dv.glif</string>
  <key>PhaRa.dv</key>
  <string>P_haR_a.dv.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>Ra.dv</key>
  <string>R_a.dv.glif</string>
  <key>RaNukta.dv</key>
  <string>R_aN_ukta.dv.glif</string>
  <key>RaNuktaHalant.dv</key>
  <string>R_aN_uktaH_alant.dv.glif</string>
  <key>Racute</key>
  <string>R_acute.glif</string>
  <key>RamatraU.dv</key>
  <string>R_amatraU_.dv.glif</string>
  <key>RamatraUu.dv</key>
  <string>R_amatraU_u.dv.glif</string>
  <key>Rcaron</key>
  <string>R_caron.glif</string>
  <key>Rcommaaccent</key>
  <string>R_commaaccent.glif</string>
  <key>Reph.dv</key>
  <string>R_eph.dv.glif</string>
  <key>RephBindu.dv</key>
  <string>R_ephB_indu.dv.glif</string>
  <key>RephChandrabindu.dv</key>
  <string>R_ephC_handrabindu.dv.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>Sa.dv</key>
  <string>S_a.dv.glif</string>
  <key>SaHalant.dv</key>
  <string>S_aH_alant.dv.glif</string>
  <key>SaNa.dv</key>
  <string>S_aN_a.dv.glif</string>
  <key>SaRa.dv</key>
  <string>S_aR_a.dv.glif</string>
  <key>SaRaHalant.dv</key>
  <string>S_aR_aH_alant.dv.glif</string>
  <key>Saat.dv</key>
  <string>S_aat.dv.glif</string>
  <key>Sacute</key>
  <string>S_acute.glif</string>
  <key>Saha.dv</key>
  <string>S_aha.dv.glif</string>
  <key>Scaron</key>
  <string>S_caron.glif</string>
  <key>Scedilla</key>
  <string>S_cedilla.glif</string>
  <key>Scircumflex</key>
  <string>S_circumflex.glif</string>
  <key>Scommaaccent</key>
  <string>S_commaaccent.glif</string>
  <key>Sha.dv</key>
  <string>S_ha.dv.glif</string>
  <key>ShaHalant.dv</key>
  <string>S_haH_alant.dv.glif</string>
  <key>ShaNa.dv</key>
  <string>S_haN_a.dv.glif</string>
  <key>ShaRa.dv</key>
  <string>S_haR_a.dv.glif</string>
  <key>ShaRaHalant.dv</key>
  <string>S_haR_aH_alant.dv.glif</string>
  <key>ShaRaYa.dv</key>
  <string>S_haR_aY_a.dv.glif</string>
  <key>ShaVa.dv</key>
  <string>S_haV_a.dv.glif</string>
  <key>ShamatraRu.dv</key>
  <string>S_hamatraR_u.dv.glif</string>
  <key>Shunya.dv</key>
  <string>S_hunya.dv.glif</string>
  <key>Ssa.dv</key>
  <string>S_sa.dv.glif</string>
  <key>SsaHalant.dv</key>
  <string>S_saH_alant.dv.glif</string>
  <key>SsaRa.dv</key>
  <string>S_saR_a.dv.glif</string>
  <key>SsaRaHalant.dv</key>
  <string>S_saR_aH_alant.dv.glif</string>
  <key>SsaTta.dv</key>
  <string>S_saT_ta.dv.glif</string>
  <key>SsaTtha.dv</key>
  <string>S_saT_tha.dv.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>Ta.dv</key>
  <string>T_a.dv.glif</string>
  <key>TaHalant.dv</key>
  <string>T_aH_alant.dv.glif</string>
  <key>TaNa.dv</key>
  <string>T_aN_a.dv.glif</string>
  <key>TaNaYa.dv</key>
  <string>T_aN_aY_a.dv.glif</string>
  <key>TaRa.dv</key>
  <string>T_aR_a.dv.glif</string>
  <key>TaRaHalant.dv</key>
  <string>T_aR_aH_alant.dv.glif</string>
  <key>TaTa.dv</key>
  <string>T_aT_a.dv.glif</string>
  <key>TaTaHalant.dv</key>
  <string>T_aT_aH_alant.dv.glif</string>
  <key>Tbar</key>
  <string>T_bar.glif</string>
  <key>Tcaron</key>
  <string>T_caron.glif</string>
  <key>Tcedilla</key>
  <string>T_cedilla.glif</string>
  <key>Tcommaaccent</key>
  <string>T_commaaccent.glif</string>
  <key>Teen.dv</key>
  <string>T_een.dv.glif</string>
  <key>Tha.dv</key>
  <string>T_ha.dv.glif</string>
  <key>ThaHalant.dv</key>
  <string>T_haH_alant.dv.glif</string>
  <key>ThaRa.dv</key>
  <string>T_haR_a.dv.glif</string>
  <key>Thorn</key>
  <string>T_horn.glif</string>
  <key>Tta.dv</key>
  <string>T_ta.dv.glif</string>
  <key>TtaTta.dv</key>
  <string>T_taT_ta.dv.glif</string>
  <key>TtaTtaYa.dv</key>
  <string>T_taT_taY_a.dv.glif</string>
  <key>TtaTtha.dv</key>
  <string>T_taT_tha.dv.glif</string>
  <key>TtaVa.dv</key>
  <string>T_taV_a.dv.glif</string>
  <key>TtaYa.dv</key>
  <string>T_taY_a.dv.glif</string>
  <key>Ttha.dv</key>
  <string>T_tha.dv.glif</string>
  <key>TthaTtha.dv</key>
  <string>T_thaT_tha.dv.glif</string>
  <key>TthaTthaYa.dv</key>
  <string>T_thaT_thaY_a.dv.glif</string>
  <key>TthaYa.dv</key>
  <string>T_thaY_a.dv.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Ubreve</key>
  <string>U_breve.glif</string>
  <key>Ucircumflex</key>
  <string>U_circumflex.glif</string>
  <key>Udieresis</key>
  <string>U_dieresis.glif</string>
  <key>Ugrave</key>
  <string>U_grave.glif</string>
  <key>Uhungarumlaut</key>
  <string>U_hungarumlaut.glif</string>
  <key>Umacron</key>
  <string>U_macron.glif</string>
  <key>Uogonek</key>
  <string>U_ogonek.glif</string>
  <key>Uring</key>
  <string>U_ring.glif</string>
  <key>Utilde</key>
  <string>U_tilde.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>Va.dv</key>
  <string>V_a.dv.glif</string>
  <key>VaHalant.dv</key>
  <string>V_aH_alant.dv.glif</string>
  <key>VaRa.dv</key>
  <string>V_aR_a.dv.glif</string>
  <key>VaRaHalant.dv</key>
  <string>V_aR_aH_alant.dv.glif</string>
  <key>Vattu.dv</key>
  <string>V_attu.dv.glif</string>
  <key>VattumatraU.dv</key>
  <string>V_attumatraU_.dv.glif</string>
  <key>VattumatraUu.dv</key>
  <string>V_attumatraU_u.dv.glif</string>
  <key>Visarga.dv</key>
  <string>V_isarga.dv.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>Wacute</key>
  <string>W_acute.glif</string>
  <key>Wcircumflex</key>
  <string>W_circumflex.glif</string>
  <key>Wdieresis</key>
  <string>W_dieresis.glif</string>
  <key>Wgrave</key>
  <string>W_grave.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Ya.dv</key>
  <string>Y_a.dv.glif</string>
  <key>YaHalant.dv</key>
  <string>Y_aH_alant.dv.glif</string>
  <key>YaNukta.dv</key>
  <string>Y_aN_ukta.dv.glif</string>
  <key>YaNuktaHalant.dv</key>
  <string>Y_aN_uktaH_alant.dv.glif</string>
  <key>YaNuktaRa.dv</key>
  <string>Y_aN_uktaR_a.dv.glif</string>
  <key>YaRa.dv</key>
  <string>Y_aR_a.dv.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Ycircumflex</key>
  <string>Y_circumflex.glif</string>
  <key>Ydieresis</key>
  <string>Y_dieresis.glif</string>
  <key>Ygrave</key>
  <string>Y_grave.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Zacute</key>
  <string>Z_acute.glif</string>
  <key>Zcaron</key>
  <string>Z_caron.glif</string>
  <key>Zdotaccent</key>
  <string>Z_dotaccent.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>aacute</key>
  <string>aacute.glif</string>
  <key>abreve</key>
  <string>abreve.glif</string>
  <key>acaron</key>
  <string>acaron.glif</string>
  <key>acircumflex</key>
  <string>acircumflex.glif</string>
  <key>acute</key>
  <string>acute.glif</string>
  <key>acutecomb</key>
  <string>acutecomb.glif</string>
  <key>adieresis</key>
  <string>adieresis.glif</string>
  <key>ae</key>
  <string>ae.glif</string>
  <key>agrave</key>
  <string>agrave.glif</string>
  <key>amacron</key>
  <string>amacron.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>aogonek</key>
  <string>aogonek.glif</string>
  <key>aring</key>
  <string>aring.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>atilde</key>
  <string>atilde.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>breve</key>
  <string>breve.glif</string>
  <key>brevecomb</key>
  <string>brevecomb.glif</string>
  <key>bridge_10.dv</key>
  <string>bridge_10.dv.glif</string>
  <key>bridge_100.dv</key>
  <string>bridge_100.dv.glif</string>
  <key>bridge_1000.dv</key>
  <string>bridge_1000.dv.glif</string>
  <key>bridge_20.dv</key>
  <string>bridge_20.dv.glif</string>
  <key>bridge_200.dv</key>
  <string>bridge_200.dv.glif</string>
  <key>bridge_30.dv</key>
  <string>bridge_30.dv.glif</string>
  <key>bridge_300.dv</key>
  <string>bridge_300.dv.glif</string>
  <key>bridge_40.dv</key>
  <string>bridge_40.dv.glif</string>
  <key>bridge_400.dv</key>
  <string>bridge_400.dv.glif</string>
  <key>bridge_50.dv</key>
  <string>bridge_50.dv.glif</string>
  <key>bridge_500.dv</key>
  <string>bridge_500.dv.glif</string>
  <key>bridge_60.dv</key>
  <string>bridge_60.dv.glif</string>
  <key>bridge_600.dv</key>
  <string>bridge_600.dv.glif</string>
  <key>bridge_70.dv</key>
  <string>bridge_70.dv.glif</string>
  <key>bridge_700.dv</key>
  <string>bridge_700.dv.glif</string>
  <key>bridge_80.dv</key>
  <string>bridge_80.dv.glif</string>
  <key>bridge_800.dv</key>
  <string>bridge_800.dv.glif</string>
  <key>bridge_90.dv</key>
  <string>bridge_90.dv.glif</string>
  <key>bridge_900.dv</key>
  <string>bridge_900.dv.glif</string>
  <key>brokenbar</key>
  <string>brokenbar.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>cacute</key>
  <string>cacute.glif</string>
  <key>caron</key>
  <string>caron.glif</string>
  <key>caroncomb</key>
  <string>caroncomb.glif</string>
  <key>ccaron</key>
  <string>ccaron.glif</string>
  <key>ccedilla</key>
  <string>ccedilla.glif</string>
  <key>ccircumflex</key>
  <string>ccircumflex.glif</string>
  <key>cdotaccent</key>
  <string>cdotaccent.glif</string>
  <key>cedilla</key>
  <string>cedilla.glif</string>
  <key>cedillacomb</key>
  <string>cedillacomb.glif</string>
  <key>cent</key>
  <string>cent.glif</string>
  <key>circledotted</key>
  <string>circledotted.glif</string>
  <key>circumflex</key>
  <string>circumflex.glif</string>
  <key>circumflexcomb</key>
  <string>circumflexcomb.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>commaaccentcomb</key>
  <string>commaaccentcomb.glif</string>
  <key>commaturnedabovecomb</key>
  <string>commaturnedabovecomb.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>currency</key>
  <string>currency.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>dagger</key>
  <string>dagger.glif</string>
  <key>daggerdbl</key>
  <string>daggerdbl.glif</string>
  <key>dcaron</key>
  <string>dcaron.glif</string>
  <key>dcroat</key>
  <string>dcroat.glif</string>
  <key>degree</key>
  <string>degree.glif</string>
  <key>dieresis</key>
  <string>dieresis.glif</string>
  <key>dieresiscomb</key>
  <string>dieresiscomb.glif</string>
  <key>divide</key>
  <string>divide.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>dotaccent</key>
  <string>dotaccent.glif</string>
  <key>dotaccentcomb</key>
  <string>dotaccentcomb.glif</string>
  <key>dotlessi</key>
  <string>dotlessi.glif</string>
  <key>dotlessj</key>
  <string>dotlessj.glif</string>
  <key>dummy1</key>
  <string>dummy1.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>ebreve</key>
  <string>ebreve.glif</string>
  <key>ecaron</key>
  <string>ecaron.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>edieresis</key>
  <string>edieresis.glif</string>
  <key>edotaccent</key>
  <string>edotaccent.glif</string>
  <key>egrave</key>
  <string>egrave.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>eight.subs</key>
  <string>eight.subs.glif</string>
  <key>eight.superior</key>
  <string>eight.superior.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emacron</key>
  <string>emacron.glif</string>
  <key>emdash</key>
  <string>emdash.glif</string>
  <key>endash</key>
  <string>endash.glif</string>
  <key>eng</key>
  <string>eng.glif</string>
  <key>eogonek</key>
  <string>eogonek.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>eth</key>
  <string>eth.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>five.subs</key>
  <string>five.subs.glif</string>
  <key>five.superior</key>
  <string>five.superior.glif</string>
  <key>florin</key>
  <string>florin.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>four.subs</key>
  <string>four.subs.glif</string>
  <key>four.superior</key>
  <string>four.superior.glif</string>
  <key>fraction</key>
  <string>fraction.glif</string>
  <key>franc</key>
  <string>franc.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gbreve</key>
  <string>gbreve.glif</string>
  <key>gcircumflex</key>
  <string>gcircumflex.glif</string>
  <key>gcommaaccent</key>
  <string>gcommaaccent.glif</string>
  <key>gdotaccent</key>
  <string>gdotaccent.glif</string>
  <key>germandbls</key>
  <string>germandbls.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>gravecomb</key>
  <string>gravecomb.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>guillemotleft</key>
  <string>guillemotleft.glif</string>
  <key>guillemotright</key>
  <string>guillemotright.glif</string>
  <key>guilsinglleft</key>
  <string>guilsinglleft.glif</string>
  <key>guilsinglright</key>
  <string>guilsinglright.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hbar</key>
  <string>hbar.glif</string>
  <key>hcircumflex</key>
  <string>hcircumflex.glif</string>
  <key>hungarumlaut</key>
  <string>hungarumlaut.glif</string>
  <key>hungarumlautcomb</key>
  <string>hungarumlautcomb.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>iacute</key>
  <string>iacute.glif</string>
  <key>icircumflex</key>
  <string>icircumflex.glif</string>
  <key>idieresis</key>
  <string>idieresis.glif</string>
  <key>igrave</key>
  <string>igrave.glif</string>
  <key>ij</key>
  <string>ij.glif</string>
  <key>imacron</key>
  <string>imacron.glif</string>
  <key>iogonek</key>
  <string>iogonek.glif</string>
  <key>itilde</key>
  <string>itilde.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>jcircumflex</key>
  <string>jcircumflex.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>kcommaaccent</key>
  <string>kcommaaccent.glif</string>
  <key>kgreenlandic</key>
  <string>kgreenlandic.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>lacute</key>
  <string>lacute.glif</string>
  <key>lcaron</key>
  <string>lcaron.glif</string>
  <key>lcommaaccent</key>
  <string>lcommaaccent.glif</string>
  <key>ldot</key>
  <string>ldot.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>logicalnot</key>
  <string>logicalnot.glif</string>
  <key>longs</key>
  <string>longs.glif</string>
  <key>lslash</key>
  <string>lslash.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>macroncomb</key>
  <string>macroncomb.glif</string>
  <key>macronmod</key>
  <string>macronmod.glif</string>
  <key>matraA.dv</key>
  <string>matraA_.dv.glif</string>
  <key>matraABindu.dv</key>
  <string>matraA_B_indu.dv.glif</string>
  <key>matraAChandra.dv</key>
  <string>matraA_C_handra.dv.glif</string>
  <key>matraAChandrabindu.dv</key>
  <string>matraA_C_handrabindu.dv.glif</string>
  <key>matraAReph.dv</key>
  <string>matraA_R_eph.dv.glif</string>
  <key>matraARephBindu.dv</key>
  <string>matraA_R_ephB_indu.dv.glif</string>
  <key>matraARephChandrabindu.dv</key>
  <string>matraA_R_ephC_handrabindu.dv.glif</string>
  <key>matraAi.dv</key>
  <string>matraA_i.dv.glif</string>
  <key>matraAiBindu.dv</key>
  <string>matraA_iB_indu.dv.glif</string>
  <key>matraAiChandrabindu.dv</key>
  <string>matraA_iC_handrabindu.dv.glif</string>
  <key>matraAiReph.dv</key>
  <string>matraA_iR_eph.dv.glif</string>
  <key>matraAiRephBindu.dv</key>
  <string>matraA_iR_ephB_indu.dv.glif</string>
  <key>matraAiRephChandrabindu.dv</key>
  <string>matraA_iR_ephC_handrabindu.dv.glif</string>
  <key>matraAu.dv</key>
  <string>matraA_u.dv.glif</string>
  <key>matraAuBindu.dv</key>
  <string>matraA_uB_indu.dv.glif</string>
  <key>matraAuChandrabindu.dv</key>
  <string>matraA_uC_handrabindu.dv.glif</string>
  <key>matraAuReph.dv</key>
  <string>matraA_uR_eph.dv.glif</string>
  <key>matraAuRephBindu.dv</key>
  <string>matraA_uR_ephB_indu.dv.glif</string>
  <key>matraAuRephChandrabindu.dv</key>
  <string>matraA_uR_ephC_handrabindu.dv.glif</string>
  <key>matraE.dv</key>
  <string>matraE_.dv.glif</string>
  <key>matraEBindu.dv</key>
  <string>matraE_B_indu.dv.glif</string>
  <key>matraEChandrabindu.dv</key>
  <string>matraE_C_handrabindu.dv.glif</string>
  <key>matraEReph.dv</key>
  <string>matraE_R_eph.dv.glif</string>
  <key>matraERephBindu.dv</key>
  <string>matraE_R_ephB_indu.dv.glif</string>
  <key>matraERephChandrabindu.dv</key>
  <string>matraE_R_ephC_handrabindu.dv.glif</string>
  <key>matraI.dv</key>
  <string>matraI_.dv.glif</string>
  <key>matraIBindu_right.dv</key>
  <string>matraI_B_indu_right.dv.glif</string>
  <key>matraIChandrabindu_right.dv</key>
  <string>matraI_C_handrabindu_right.dv.glif</string>
  <key>matraIRephBindu_right.dv</key>
  <string>matraI_R_ephB_indu_right.dv.glif</string>
  <key>matraIRephChandrabindu_right.dv</key>
  <string>matraI_R_ephC_handrabindu_right.dv.glif</string>
  <key>matraIReph_right.dv</key>
  <string>matraI_R_eph_right.dv.glif</string>
  <key>matraI_left.dv</key>
  <string>matraI__left.dv.glif</string>
  <key>matraI_right.dv</key>
  <string>matraI__right.dv.glif</string>
  <key>matraIi.dv</key>
  <string>matraI_i.dv.glif</string>
  <key>matraIiBindu.dv</key>
  <string>matraI_iB_indu.dv.glif</string>
  <key>matraIiBinduone.dv</key>
  <string>matraI_iB_induone.dv.glif</string>
  <key>matraIiBinduthree.dv</key>
  <string>matraI_iB_induthree.dv.glif</string>
  <key>matraIiBindutwo.dv</key>
  <string>matraI_iB_indutwo.dv.glif</string>
  <key>matraIiChandrabindu.dv</key>
  <string>matraI_iC_handrabindu.dv.glif</string>
  <key>matraIiChandrabinduone.dv</key>
  <string>matraI_iC_handrabinduone.dv.glif</string>
  <key>matraIiChandrabinduthree.dv</key>
  <string>matraI_iC_handrabinduthree.dv.glif</string>
  <key>matraIiChandrabindutwo.dv</key>
  <string>matraI_iC_handrabindutwo.dv.glif</string>
  <key>matraIiReph.dv</key>
  <string>matraI_iR_eph.dv.glif</string>
  <key>matraIiRephBindu.dv</key>
  <string>matraI_iR_ephB_indu.dv.glif</string>
  <key>matraIiRephBinduone.dv</key>
  <string>matraI_iR_ephB_induone.dv.glif</string>
  <key>matraIiRephBinduthree.dv</key>
  <string>matraI_iR_ephB_induthree.dv.glif</string>
  <key>matraIiRephBindutwo.dv</key>
  <string>matraI_iR_ephB_indutwo.dv.glif</string>
  <key>matraIiRephChandrabindu.dv</key>
  <string>matraI_iR_ephC_handrabindu.dv.glif</string>
  <key>matraIiRephChandrabinduone.dv</key>
  <string>matraI_iR_ephC_handrabinduone.dv.glif</string>
  <key>matraIiRephChandrabinduthree.dv</key>
  <string>matraI_iR_ephC_handrabinduthree.dv.glif</string>
  <key>matraIiRephChandrabindutwo.dv</key>
  <string>matraI_iR_ephC_handrabindutwo.dv.glif</string>
  <key>matraIiRephone.dv</key>
  <string>matraI_iR_ephone.dv.glif</string>
  <key>matraIiRephthree.dv</key>
  <string>matraI_iR_ephthree.dv.glif</string>
  <key>matraIiRephtwo.dv</key>
  <string>matraI_iR_ephtwo.dv.glif</string>
  <key>matraIione.dv</key>
  <string>matraI_ione.dv.glif</string>
  <key>matraIithree.dv</key>
  <string>matraI_ithree.dv.glif</string>
  <key>matraIitwo.dv</key>
  <string>matraI_itwo.dv.glif</string>
  <key>matraLru.dv</key>
  <string>matraL_ru.dv.glif</string>
  <key>matraLruu.dv</key>
  <string>matraL_ruu.dv.glif</string>
  <key>matraO.dv</key>
  <string>matraO_.dv.glif</string>
  <key>matraOBindu.dv</key>
  <string>matraO_B_indu.dv.glif</string>
  <key>matraOChandrabindu.dv</key>
  <string>matraO_C_handrabindu.dv.glif</string>
  <key>matraOReph.dv</key>
  <string>matraO_R_eph.dv.glif</string>
  <key>matraORephBindu.dv</key>
  <string>matraO_R_ephB_indu.dv.glif</string>
  <key>matraORephChandrabindu.dv</key>
  <string>matraO_R_ephC_handrabindu.dv.glif</string>
  <key>matraRu.dv</key>
  <string>matraR_u.dv.glif</string>
  <key>matraRusmall.dv</key>
  <string>matraR_usmall.dv.glif</string>
  <key>matraRuu.dv</key>
  <string>matraR_uu.dv.glif</string>
  <key>matraShortE.dv</key>
  <string>matraS_hortE_.dv.glif</string>
  <key>matraShortEBindu.dv</key>
  <string>matraS_hortE_B_indu.dv.glif</string>
  <key>matraShortEChandrabindu.dv</key>
  <string>matraS_hortE_C_handrabindu.dv.glif</string>
  <key>matraShortEReph.dv</key>
  <string>matraS_hortE_R_eph.dv.glif</string>
  <key>matraShortERephBindu.dv</key>
  <string>matraS_hortE_R_ephB_indu.dv.glif</string>
  <key>matraShortERephChandrabindu.dv</key>
  <string>matraS_hortE_R_ephC_handrabindu.dv.glif</string>
  <key>matraShortO.dv</key>
  <string>matraS_hortO_.dv.glif</string>
  <key>matraShortOBindu.dv</key>
  <string>matraS_hortO_B_indu.dv.glif</string>
  <key>matraShortOChandrabindu.dv</key>
  <string>matraS_hortO_C_handrabindu.dv.glif</string>
  <key>matraShortOReph.dv</key>
  <string>matraS_hortO_R_eph.dv.glif</string>
  <key>matraShortORephBindu.dv</key>
  <string>matraS_hortO_R_ephB_indu.dv.glif</string>
  <key>matraShortORephChandrabindu.dv</key>
  <string>matraS_hortO_R_ephC_handrabindu.dv.glif</string>
  <key>matraU.dv</key>
  <string>matraU_.dv.glif</string>
  <key>matraUsmall.dv</key>
  <string>matraU_small.dv.glif</string>
  <key>matraUu.dv</key>
  <string>matraU_u.dv.glif</string>
  <key>matraUusmall.dv</key>
  <string>matraU_usmall.dv.glif</string>
  <key>minus</key>
  <string>minus.glif</string>
  <key>mu</key>
  <string>mu.glif</string>
  <key>multiply</key>
  <string>multiply.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nacute</key>
  <string>nacute.glif</string>
  <key>napostrophe</key>
  <string>napostrophe.glif</string>
  <key>ncaron</key>
  <string>ncaron.glif</string>
  <key>ncommaaccent</key>
  <string>ncommaaccent.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nine.subs</key>
  <string>nine.subs.glif</string>
  <key>nine.superior</key>
  <string>nine.superior.glif</string>
  <key>ntilde</key>
  <string>ntilde.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>oacute</key>
  <string>oacute.glif</string>
  <key>obreve</key>
  <string>obreve.glif</string>
  <key>ocircumflex</key>
  <string>ocircumflex.glif</string>
  <key>odieresis</key>
  <string>odieresis.glif</string>
  <key>oe</key>
  <string>oe.glif</string>
  <key>ogonek</key>
  <string>ogonek.glif</string>
  <key>ogonekcomb</key>
  <string>ogonekcomb.glif</string>
  <key>ograve</key>
  <string>ograve.glif</string>
  <key>ohungarumlaut</key>
  <string>ohungarumlaut.glif</string>
  <key>omacron</key>
  <string>omacron.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>one.subs</key>
  <string>one.subs.glif</string>
  <key>one.superior</key>
  <string>one.superior.glif</string>
  <key>ordfeminine</key>
  <string>ordfeminine.glif</string>
  <key>ordmasculine</key>
  <string>ordmasculine.glif</string>
  <key>oslash</key>
  <string>oslash.glif</string>
  <key>otilde</key>
  <string>otilde.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>paragraph</key>
  <string>paragraph.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>periodcentered</key>
  <string>periodcentered.glif</string>
  <key>perthousand</key>
  <string>perthousand.glif</string>
  <key>pi</key>
  <string>pi.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>plusminus</key>
  <string>plusminus.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotedblbase</key>
  <string>quotedblbase.glif</string>
  <key>quotedblleft</key>
  <string>quotedblleft.glif</string>
  <key>quotedblright</key>
  <string>quotedblright.glif</string>
  <key>quoteleft</key>
  <string>quoteleft.glif</string>
  <key>quoteright</key>
  <string>quoteright.glif</string>
  <key>quotesinglbase</key>
  <string>quotesinglbase.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>racute</key>
  <string>racute.glif</string>
  <key>rcaron</key>
  <string>rcaron.glif</string>
  <key>rcommaaccent</key>
  <string>rcommaaccent.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>ring</key>
  <string>ring.glif</string>
  <key>ringcomb</key>
  <string>ringcomb.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>sacute</key>
  <string>sacute.glif</string>
  <key>scaron</key>
  <string>scaron.glif</string>
  <key>scedilla</key>
  <string>scedilla.glif</string>
  <key>scircumflex</key>
  <string>scircumflex.glif</string>
  <key>scommaaccent</key>
  <string>scommaaccent.glif</string>
  <key>section</key>
  <string>section.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>seven.subs</key>
  <string>seven.subs.glif</string>
  <key>seven.superior</key>
  <string>seven.superior.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>six.subs</key>
  <string>six.subs.glif</string>
  <key>six.superior</key>
  <string>six.superior.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tbar</key>
  <string>tbar.glif</string>
  <key>tcaron</key>
  <string>tcaron.glif</string>
  <key>tcedilla</key>
  <string>tcedilla.glif</string>
  <key>tcommaaccent</key>
  <string>tcommaaccent.glif</string>
  <key>thorn</key>
  <string>thorn.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>three.subs</key>
  <string>three.subs.glif</string>
  <key>three.superior</key>
  <string>three.superior.glif</string>
  <key>tilde</key>
  <string>tilde.glif</string>
  <key>tildecomb</key>
  <string>tildecomb.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>two.subs</key>
  <string>two.subs.glif</string>
  <key>two.superior</key>
  <string>two.superior.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>ubreve</key>
  <string>ubreve.glif</string>
  <key>ucircumflex</key>
  <string>ucircumflex.glif</string>
  <key>udieresis</key>
  <string>udieresis.glif</string>
  <key>ugrave</key>
  <string>ugrave.glif</string>
  <key>uhungarumlaut</key>
  <string>uhungarumlaut.glif</string>
  <key>umacron</key>
  <string>umacron.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uni00A0</key>
  <string>uni00A_0.glif</string>
  <key>uni0900</key>
  <string>uni0900.glif</string>
  <key>uni093A</key>
  <string>uni093A_.glif</string>
  <key>uni093B</key>
  <string>uni093B_.glif</string>
  <key>uni094E</key>
  <string>uni094E_.glif</string>
  <key>uni094F</key>
  <string>uni094F_.glif</string>
  <key>uni0953</key>
  <string>uni0953.glif</string>
  <key>uni0954</key>
  <string>uni0954.glif</string>
  <key>uni0955</key>
  <string>uni0955.glif</string>
  <key>uni0956</key>
  <string>uni0956.glif</string>
  <key>uni0957</key>
  <string>uni0957.glif</string>
  <key>uni0970</key>
  <string>uni0970.glif</string>
  <key>uni0973</key>
  <string>uni0973.glif</string>
  <key>uni0974</key>
  <string>uni0974.glif</string>
  <key>uni0975</key>
  <string>uni0975.glif</string>
  <key>uni0976</key>
  <string>uni0976.glif</string>
  <key>uni0977</key>
  <string>uni0977.glif</string>
  <key>uni0978</key>
  <string>uni0978.glif</string>
  <key>uni0979</key>
  <string>uni0979.glif</string>
  <key>uni097A</key>
  <string>uni097A_.glif</string>
  <key>uni097B</key>
  <string>uni097B_.glif</string>
  <key>uni097C</key>
  <string>uni097C_.glif</string>
  <key>uni097D</key>
  <string>uni097D_.glif</string>
  <key>uni097E</key>
  <string>uni097E_.glif</string>
  <key>uni097F</key>
  <string>uni097F_.glif</string>
  <key>uni20B9</key>
  <string>uni20B_9.glif</string>
  <key>uniA8FB</key>
  <string>uniA_8F_B_.glif</string>
  <key>uogonek</key>
  <string>uogonek.glif</string>
  <key>uring</key>
  <string>uring.glif</string>
  <key>utilde</key>
  <string>utilde.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>vowelA.dv</key>
  <string>vowelA_.dv.glif</string>
  <key>vowelAa.dv</key>
  <string>vowelA_a.dv.glif</string>
  <key>vowelAi.dv</key>
  <string>vowelA_i.dv.glif</string>
  <key>vowelAu.dv</key>
  <string>vowelA_u.dv.glif</string>
  <key>vowelChandraA.dv</key>
  <string>vowelC_handraA_.dv.glif</string>
  <key>vowelChandraE.dv</key>
  <string>vowelC_handraE_.dv.glif</string>
  <key>vowelChandraO.dv</key>
  <string>vowelC_handraO_.dv.glif</string>
  <key>vowelE.dv</key>
  <string>vowelE_.dv.glif</string>
  <key>vowelI.dv</key>
  <string>vowelI_.dv.glif</string>
  <key>vowelIi.dv</key>
  <string>vowelI_i.dv.glif</string>
  <key>vowelIiBindu.dv</key>
  <string>vowelI_iB_indu.dv.glif</string>
  <key>vowelLru.dv</key>
  <string>vowelL_ru.dv.glif</string>
  <key>vowelLruu.dv</key>
  <string>vowelL_ruu.dv.glif</string>
  <key>vowelO.dv</key>
  <string>vowelO_.dv.glif</string>
  <key>vowelRu.dv</key>
  <string>vowelR_u.dv.glif</string>
  <key>vowelRuu.dv</key>
  <string>vowelR_uu.dv.glif</string>
  <key>vowelShortA.dv</key>
  <string>vowelS_hortA_.dv.glif</string>
  <key>vowelShortE.dv</key>
  <string>vowelS_hortE_.dv.glif</string>
  <key>vowelShortO.dv</key>
  <string>vowelS_hortO_.dv.glif</string>
  <key>vowelU.dv</key>
  <string>vowelU_.dv.glif</string>
  <key>vowelUu.dv</key>
  <string>vowelU_u.dv.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wacute</key>
  <string>wacute.glif</string>
  <key>wcircumflex</key>
  <string>wcircumflex.glif</string>
  <key>wdieresis</key>
  <string>wdieresis.glif</string>
  <key>wgrave</key>
  <string>wgrave.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>ycircumflex</key>
  <string>ycircumflex.glif</string>
  <key>ydieresis</key>
  <string>ydieresis.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>ygrave</key>
  <string>ygrave.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zacute</key>
  <string>zacute.glif</string>
  <key>zcaron</key>
  <string>zcaron.glif</string>
  <key>zdotaccent</key>
  <string>zdotaccent.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zero.subs</key>
  <string>zero.subs.glif</string>
  <key>zero.superior</key>
  <string>zero.superior.glif</string>
</dict>
</plist>
